:root {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Kustomisasi Scrollbar Mode Gelap */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #101318;
}

::-webkit-scrollbar-thumb {
  background: #1f252f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f8c8d;
}
